<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--1.创建任务类-->
    <bean id="myTask" class="cn.itcast.web.task.MyTask"/>

    <!--2.创建任务工厂，注入任务类-->
    <bean id="jobDetail"
          class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
        <property name="targetObject" ref="myTask"/>
        <property name="targetMethod" value="execute"/>
    </bean>

    <!--3. 创建任务执行计划，注入任务调度触发器: cron 表达式:0/5 * * * * ? * : 每5秒执行1次-->
    <bean id="trigger"
          class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
        <property name="jobDetail" ref="jobDetail"/>
        <property name="cronExpression" value="0 15 10 ? * 6#3"/>
    </bean>

    <!--4.创建任务执行计划，注入任务调度触发器-->
   <bean class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
       <property name="triggers">
           <array>
               <!--注入任务调度触发器-->
               <ref bean="trigger"/>
           </array>
       </property>
   </bean>
</beans>